/* Couleur cadre */

$color-bg-test:#F6F6F6;

$color-bg-def:#fff;
$color-bg-city: #f3f3f3;

/*  Couleur du theme */

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

/*Couleur police standard*/

$color-text:#fff;
$color-link:#000;

/*RgbA def*/
$rgba-def:rgba(0,0,0,0.5);

/*Couleur Footer*/

$color-bg-footer: #2e2d2c;

